* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: None;
}

.max_width{
    margin: auto;
    padding: 0 80px;
    /* padding-bottom: 5px; */
}

.navbar {
    width: 100%;
    position: fixed;
    /* border: 2px solid red; */
    /* background: rgb(20, 83, 220); */
    padding: 15px 0;
    font-family: 'Ubuntu',sans-serif;
}

.navbar .max_width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    display: inline-block;
    list-style: none;
}

.navbar .menu li a {
    color: #fff;
    padding: 15px;
}

.navbar .menu li a:hover {
    color:rgb(127, 214, 134);
}

.one {
    /* background: url("seen.jpg"); */
    min-height: 500px;
}

.two {
    text-align: center;
    background-image: linear-gradient(rgba(81, 148, 236,1), rgba(81, 166, 236, 0.0));

    min-height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two:hover {
    color: yellow;
}

#container a  {
    text-align: none;
    color: white;
    font-size: 1.1em;
    padding: 8px 20px;
}

#container a:hover {
    cursor: pointer;
    color: rgb(209, 230, 19);
}

.box {
    margin: auto;
    font-size: 1em;
    width: 90%;
    background-color: rgb(240, 237, 237);
}

.cont {
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxt {
    /* border:2px solid rgb(209, 230, 19); */
    text-align: center;
    /* background-color: rgb(221, 142, 142); */
    color: rgb(127, 214, 134);
    height: auto;
    padding: 5px 15px;
}

.bodyP {
    display: flex;
}


#sidebar{
    flex: 30%;
    background-color: #f3e9e9;
    text-align: center;
}

#content {
    flex: 70%;
    background-color: aquamarine;
}


footer {
    min-height: 160px;
    background-color: grey;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-device-width: 376px) {
    #container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }
    .cont {
        flex-direction: column;
    }
    .navbar .max_width {
        flex-direction: column;
    }
}
